* {
    box-sizing: border-box;
  }
  
  /* 64ac15 */
*,
*:before,
*:after {
  box-sizing: border-box;
}
label {
  color: #f0a500;
  float:left;
}
input {
  width: 400px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 1px;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  color:black;
  border-radius: 3px;
}

button{
  background: #f0a500;
  color: #f9f9f9;
  width: 100px;
  height: 60px;
  border: 0;
  margin-top:2em;
  font-size: 18px;
  border-radius: 4px;
  font-family: 'Raleway', sans-serif;
  transition: .6s;
  overflow: hidden;
  justify-content: center;
  justify-items: center;
}

.information {
  font-size: 32px;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-top:10px;
  color: #f0a500;
  padding-top:10em;
}

.container-all{
  display : flex;
  flex-direction : row;
  justify-content: center;
  align-items: center;
}
.container {
  padding-left: 0px;

  width: 400px;
}

