body {
  margin: 0;
  background-color: white;
  text-align: center;
  font-family: 'KoHo';
  color: #999999;
}

a {
  text-decoration: none;
  font-style: normal;
  color:black;
  font-size: 32px;
  position: fixed;
  top:4%;
}

