.information-writters{
    position: relative;
    display: block;
    background:transparent;
    width:100%;
    height: 40%;
    left:0%;
    color: black;
    font-size: 35px;
}

.text-writters{
    position: absolute;
    background: white;
    border-radius: 40px;
    top:2%; 
    left:44%; 
}

.cards{
    position:relative;
    padding-top: 5%;
    padding-left: 1%;
    padding-bottom: 3%;
    padding-right: 2%;

}

.imgwriter{
    height: 100%;
    width:100%;
     display: inline-block;

}

.card-writer{
    display: inline-block;
    position:relative;
    padding-left: 20%;

}

.card-writer img{
    border-radius: 50%;
    width: 200px;
    height: 200px;

}

.info-writter{
    display: inline-block;
    background-color:transparent;
    text-align: left;
    position:absolute;
    width:42%;
    left:60%;
    top:15%;
    color:black;
}

.info-writter:hover {
    color:black;
}


.name-writter{
    font-size: 1.3vw;
}

.information-writter {
    font-size: 1.0vw;    
}

@media only screen and (min-width: 1500px) and (max-width: 1600px) {
    .imgwriter{
        height: 100%;
        width:100%;
    
    }
    
    .card-writer img{
        border-radius: 50%;
        width: 180px;
        height: 180px;
    
    }
    
    .info-writter{
        display: inline-block;
        background-color:transparent;
        text-align: left;
        position:absolute;
        width:42%;
        left:48%;
        top:15%;
        color:black;
    }
    
    .name-writter{
        font-size: 1.5vw;
    }
    
    .information-writter {
        font-size: 1.2vw;    
    }
    
}

@media only screen and (min-width: 1350px) and (max-width: 1500px) {
    .imgwriter{
        height: 100%;
        width:100%;
    
    }
    
    .card-writer img{
        border-radius: 50%;
        width: 180px;
        height: 180px;
    
    }
    
    .info-writter{
        display: inline-block;
        background-color:transparent;
        text-align: left;
        position:absolute;
        width:42%;
        left:65%;
        top:15%;
        color:black;
    }
    
    .name-writter{
        font-size: 1.5vw;
    }
    
    .information-writter {
        font-size: 1.2vw;    
    }
    
}

@media only screen and (min-width: 1200px) and (max-width: 1350px) {
    .imgwriter{
        height: 100%;
        width:100%;
    
    }
    
    .card-writer img{
        border-radius: 50%;
        width: 180px;
        height: 180px;
    
    }
    
    .info-writter{
        display: inline-block;
        background-color:transparent;
        text-align: left;
        position:absolute;
        width:42%;
        left:70%;
        top:15%;
        color:black;
    }
    
    .name-writter{
        font-size: 1.7vw;
    }
    
    .information-writter {
        font-size: 1.5vw;    
    }
    
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
    .text-writters{
        position: absolute;
        background: white;
        border-radius: 40px;
        top:2%; 
        left:42%; 
    }

    .imgwriter{
        height: 100%;
        width:100%;
    
    }
    
    .card-writer img{
        border-radius: 50%;
        width: 150px;
        height: 150px;
    
    }
    
    .info-writter{
        display: inline-block;
        background-color:transparent;
        text-align: left;
        position:absolute;
        width:42%;
        left:67%;
        top:15%;
        color:black;
    }
    
    .name-writter{
        font-size: 1.8vw;
    }
    
    .information-writter {
        font-size: 1.5vw;    
    }
    
}

@media only screen and (min-width: 900px) and (max-width: 1000px) {
    .imgwriter{
        height: 100%;
        width:100%;
    
    }
    
    .card-writer img{
        border-radius: 50%;
        width: 150px;
        height: 150px;
    
    }
    
    .info-writter{
        display: inline-block;
        background-color:transparent;
        text-align: left;
        position:absolute;
        width:42%;
        left:75%;
        top:15%;
        color:black;
    }
    
    .name-writter{
        font-size: 1.8vw;
    }
    
    .information-writter {
        font-size: 1.5vw;    
    }
    
}

@media only screen and (min-width: 630px) and (max-width: 900px) {
    .text-writters{
        position: absolute;
        background: white;
        border-radius: 40px;
        top:2%; 
        left:40%; 
    }
    
    .imgwriter{
        height: 100%;
        width:100%;
    
    }
    
    .card-writer img{
        border-radius: 50%;
        width: 180px;
        height: 180px;
    
    }
    
    .cards{
        position:relative;
        padding-top: 10%;
        padding-left: 0%;
        padding-bottom: 3%;
        padding-right: 2%;
    
    }
    .info-writter{
        display: none;
        background-color:transparent;
        text-align: left;
        position:absolute;
        width:42%;
        left:60%;
        top:15%;
        color:black;
    }
    
    .name-writter{
        font-size: 1.8vw;
    }
    
    .information-writter {
        font-size: 1.5vw;    
    }
    
}

@media only screen and (min-width: 0px) and (max-width: 630px) {
    .imgwriter{
        height: 100%;
        width:100%;
    
    }
    
    .card-writer img{
        border-radius: 50%;
        width: 130px;
        height: 130px;
    
    }
    
    .text-writters{
        position: absolute;
        background: white;
        border-radius: 40px;
        top:2%; 
        left:35%; 
    }
    
    .cards{
        position:relative;
        padding-top: 10%;
        padding-left: 0%;
        padding-bottom: 3%;
        padding-right: 2%;
    
    }
    .info-writter{
        display: none;
        background-color:transparent;
        text-align: left;
        position:absolute;
        width:42%;
        left:60%;
        top:15%;
        color:black;
    }
    
    .name-writter{
        font-size: 1.8vw;
    }
    
    .information-writter {
        font-size: 1.5vw;    
    }
    
}

@media only screen and (min-width: 0px) and (max-width: 500px) {

    .text-writters{
        position: absolute;
        background: white;
        border-radius: 40px;
        top:2%; 
        left:28%; 
    }
}
/*
@media only screen and (min-width: 1000px) and (max-width: 1200px) {

    .line-one{
        position: absolute;
        top: 5%;
        left: 20%;
        background: white;
        width: 20%;
        height: 0.10%;
    }
    
    .line-two{
        position: absolute;
        top: 5%;
        left: 60%;
        background: white;
        width: 20%;
        height: 0.10%;
    }
    
    .information-writters{
        position: absolute;
        background: #FBCB22;
        top:75%;
        width:92%;
        height: 40%;
        left:3%;
        color: black;
        font-size: 35px;
        border-radius: 40px;
    }
    
    .text-writters{
        position: absolute;
        background: white;
        border-radius: 40px;
        top:2%; 
        left:42%; 
    }
    
    .cards{
        position:relative;
        padding-top: 2%;
        padding: 2%;
        left:0%;
        top:10%;
    }
    
    .imgwriter{
        height: 100%;
        width:100%;
    
    }
    
    .card-writer{
        position:relative;
    
    }
    
    .card-writer img{
        position:relative;
        width: 300px;
        height: 300px;
    
    }
    
    .info-writter{
        background-color: white;
        position:absolute;
        top: 0%;
        left:60%;
        width: 30%;
        height:25%;
        color:black;
    }
    
    .name-writter{
        position:absolute;
        font-size: 1.3vw;     
    
    }
    
    .information-writter {
        position:absolute;
        font-size: 1.0vw;    
        top:35%;
    }
    
}

@media only screen and (min-width: 900px) and (max-width: 1000px) {

    .line-one{
        position: absolute;
        top: 5%;
        left: 20%;
        background: white;
        width: 20%;
        height: 0.10%;
    }
    
    .line-two{
        position: absolute;
        top: 5%;
        left: 60%;
        background: white;
        width: 20%;
        height: 0.10%;
    }
    
    .information-writters{
        position: absolute;
        background: #FBCB22;
        top:75%;
        width:92%;
        height: 40%;
        left:3%;
        color: black;
        font-size: 35px;
        border-radius: 40px;
    }
    
    .text-writters{
        position: absolute;
        background: white;
        border-radius: 40px;
        top:2%; 
        left:42%; 
    }
    
    .cards{
        position:relative;
        padding-top: 2%;
        padding: 2%;
        left:0%;
        top:10%;
    }
    
    .imgwriter{
        height: 100%;
        width:100%;
    
    }
    
    .card-writer{
        position:relative;
    
    }
    
    .card-writer img{
        position:relative;
        width: 300px;
        height: 300px;
    
    }
    
    .info-writter{
        background-color: white;
        position:absolute;
        top: 0%;
        left:60%;
        width: 30%;
        height:25%;
        color:black;
    }
    
    .name-writter{
        position:absolute;
        font-size: 1.3vw;     
    
    }
    
    .information-writter {
        position:absolute;
        font-size: 1.0vw;    
        top:35%;
    }
    
}

@media only screen and (min-width: 800px) and (max-width: 900px) {

    .line-one{
        position: absolute;
        top: 5%;
        left: 20%;
        background: white;
        width: 20%;
        height: 0.10%;
    }
    
    .line-two{
        position: absolute;
        top: 5%;
        left: 60%;
        background: white;
        width: 20%;
        height: 0.10%;
    }
    
    .information-writters{
        position: absolute;
        background: #FBCB22;
        top:75%;
        width:92%;
        height: 40%;
        left:3%;
        color: black;
        font-size: 35px;
        border-radius: 40px;
    }
    
    .text-writters{
        position: absolute;
        background: white;
        border-radius: 40px;
        top:2%; 
        left:42%; 
    }
    
    .cards{
        position:relative;
        padding-top: 2%;
        padding: 2%;
        left:0%;
        top:10%;
    }
    
    .imgwriter{
        height: 100%;
        width:100%;
    
    }
    
    .card-writer{
        position:relative;
    
    }
    
    .card-writer img{
        position:relative;
        width: 300px;
        height: 300px;
    
    }
    
    .info-writter{
        background-color: white;
        position:absolute;
        top: 0%;
        left:60%;
        width: 30%;
        height:25%;
        color:black;
    }
    
    .name-writter{
        position:absolute;
        font-size: 1.3vw;     
    
    }
    
    .information-writter {
        position:absolute;
        font-size: 1.0vw;    
        top:35%;
    }
    
}

@media only screen and (min-width: 700px) and (max-width: 800px) {

    .line-one{
        position: absolute;
        top: 5%;
        left: 20%;
        background: white;
        width: 20%;
        height: 0.10%;
    }
    
    .line-two{
        position: absolute;
        top: 5%;
        left: 60%;
        background: white;
        width: 20%;
        height: 0.10%;
    }
    
    .information-writters{
        position: absolute;
        background: #FBCB22;
        top:75%;
        width:92%;
        height: 40%;
        left:3%;
        color: black;
        font-size: 35px;
        border-radius: 40px;
    }
    
    .text-writters{
        position: absolute;
        background: white;
        border-radius: 40px;
        top:2%; 
        left:42%; 
    }
    
    .cards{
        position:relative;
        padding-top: 2%;
        padding: 2%;
        left:0%;
        top:10%;
    }
    
    .imgwriter{
        height: 100%;
        width:100%;
    
    }
    
    .card-writer{
        position:relative;
    
    }
    
    .card-writer img{
        position:relative;
        width: 300px;
        height: 300px;
    
    }
    
    .info-writter{
        background-color: white;
        position:absolute;
        top: 0%;
        left:60%;
        width: 30%;
        height:25%;
        color:black;
    }
    
    .name-writter{
        position:absolute;
        font-size: 1.3vw;     
    
    }
    
    .information-writter {
        position:absolute;
        font-size: 1.0vw;    
        top:35%;
    }
    
}

@media only screen and (min-width: 600px) and (max-width: 700px) {

    .line-one{
        position: absolute;
        top: 5%;
        left: 20%;
        background: white;
        width: 20%;
        height: 0.10%;
    }
    
    .line-two{
        position: absolute;
        top: 5%;
        left: 60%;
        background: white;
        width: 20%;
        height: 0.10%;
    }
    
    .information-writters{
        position: absolute;
        background: #FBCB22;
        top:75%;
        width:92%;
        height: 40%;
        left:3%;
        color: black;
        font-size: 35px;
        border-radius: 40px;
    }
    
    .text-writters{
        position: absolute;
        background: white;
        border-radius: 40px;
        top:2%; 
        left:42%; 
    }
    
    .cards{
        position:relative;
        padding-top: 2%;
        padding: 2%;
        left:0%;
        top:10%;
    }
    
    .imgwriter{
        height: 100%;
        width:100%;
    
    }
    
    .card-writer{
        position:relative;
    
    }
    
    .card-writer img{
        position:relative;
        width: 300px;
        height: 300px;
    
    }
    
    .info-writter{
        background-color: white;
        position:absolute;
        top: 0%;
        left:60%;
        width: 30%;
        height:25%;
        color:black;
    }
    
    .name-writter{
        position:absolute;
        font-size: 1.3vw;     
    
    }
    
    .information-writter {
        position:absolute;
        font-size: 1.0vw;    
        top:35%;
    }
    
}

@media only screen and (min-width: 500px) and (max-width: 600px) {

    .line-one{
        position: absolute;
        top: 5%;
        left: 20%;
        background: white;
        width: 20%;
        height: 0.10%;
    }
    
    .line-two{
        position: absolute;
        top: 5%;
        left: 60%;
        background: white;
        width: 20%;
        height: 0.10%;
    }
    
    .information-writters{
        position: absolute;
        background: #FBCB22;
        top:75%;
        width:92%;
        height: 40%;
        left:3%;
        color: black;
        font-size: 35px;
        border-radius: 40px;
    }
    
    .text-writters{
        position: absolute;
        background: white;
        border-radius: 40px;
        top:2%; 
        left:42%; 
    }
    
    .cards{
        position:relative;
        padding-top: 2%;
        padding: 2%;
        left:0%;
        top:10%;
    }
    
    .imgwriter{
        height: 100%;
        width:100%;
    
    }
    
    .card-writer{
        position:relative;
    
    }
    
    .card-writer img{
        position:relative;
        width: 300px;
        height: 300px;
    
    }
    
    .info-writter{
        background-color: white;
        position:absolute;
        top: 0%;
        left:60%;
        width: 30%;
        height:25%;
        color:black;
    }
    
    .name-writter{
        position:absolute;
        font-size: 1.3vw;     
    
    }
    
    .information-writter {
        position:absolute;
        font-size: 1.0vw;    
        top:35%;
    }
    
}

@media only screen and (min-width: 400px) and (max-width: 500px) {

    .line-one{
        position: absolute;
        top: 5%;
        left: 20%;
        background: white;
        width: 20%;
        height: 0.10%;
    }
    
    .line-two{
        position: absolute;
        top: 5%;
        left: 60%;
        background: white;
        width: 20%;
        height: 0.10%;
    }
    
    .information-writters{
        position: absolute;
        background: #FBCB22;
        top:75%;
        width:92%;
        height: 40%;
        left:3%;
        color: black;
        font-size: 35px;
        border-radius: 40px;
    }
    
    .text-writters{
        position: absolute;
        background: white;
        border-radius: 40px;
        top:2%; 
        left:42%; 
    }
    
    .cards{
        position:relative;
        padding-top: 2%;
        padding: 2%;
        left:0%;
        top:10%;
    }
    
    .imgwriter{
        height: 100%;
        width:100%;
    
    }
    
    .card-writer{
        position:relative;
    
    }
    
    .card-writer img{
        position:relative;
        width: 300px;
        height: 300px;
    
    }
    
    .info-writter{
        background-color: white;
        position:absolute;
        top: 0%;
        left:60%;
        width: 30%;
        height:25%;
        color:black;
    }
    
    .name-writter{
        position:absolute;
        font-size: 1.3vw;     
    
    }
    
    .information-writter {
        position:absolute;
        font-size: 1.0vw;    
        top:35%;
    }
    
}*/

